<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KXQS4VD');</script>
    <!-- End Google Tag Manager -->

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Progress Project by Digital Surgeons</title>
    <meta
      name="description"
      content="Looking to drive innovation? This simple tool will help you
      navigate your goals, ideas, and priorities"
      />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="The Progress Project by Digital Surgeons"
      />
    <meta
      property="og:description"
      content="Looking to drive innovation? This simple tool will help you
      navigate your goals, ideas, and priorities"
      />
    <meta property="og:url" content="https://theprogressproject.co" />
    <meta property="og:site_name" content="The Progress Project" />
    <meta
      property="og:image"
      content="https://theprogressproject.co/img/theprogressproject-share.jpg"
      />
    <meta
      property="og:image:secure_url"
      content="https://theprogressproject.co/img/theprogressproject-share.jpg"
      />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:description"
      content="Looking to drive innovation? This simple tool will help you
      navigate your goals, ideas, and priorities"
      />
    <meta
      name="twitter:title"
      content="The Progress Project by Digital Surgeons"
      />
    <meta
      name="twitter:image"
      content="https://theprogressproject.co/img/theprogressproject-share.jpg"
      />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KXQS4VD"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="header">
      <img src="/img/theprogressproject.svg" alt="The Progress Project" />
    </header>
    <main class="canvas">
      <h1 class="heading">
        Feeling stuck? Juggling priorities? This might help.
      </h1>
      <p class="body">
        We may all have big goals and aspirations, but that doesn't mean we
        always know the best path to reach them – in both life and business.
        This tool is designed to help you navigate your own ideas and determine
        the best place to get started with making real progress.
      </p>

      <a class="button" href="https://dsoperations.typeform.com/to/ygoj8m">
        Get started
      </a>
    </main>

    <footer class="footer">
      <p class="footer__body">Made with love from</p>
      <img
        class="footer__img"
        src="/img/digitalsurgeons.svg"
        alt="Digital Surgeons - Demand Design Consultancy"
        />
    </footer>
  </body>
</html>
