<html>
  <head>
    <title>The Progress Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <main class="canvas">
      <h1 class="heading">The Progress Project</h1>

      <p class="body">
        We may all have big goals and aspirations, but that doesn't mean we
        always know the best path to reach them – in both life and business.
        This tool is designed to help you navigate your own ideas and
        determine the best place to get started with making real progress.
      </p>

      <a class="button" href="https://dsoperations.typeform.com/to/ygoj8m"
        target="blank">Get started</a>
    </main>

    <footer class="footer">
      <p class="footer__body">Made with love from</p>
      <img class="footer__img" src="/img/digitalsurgeons.svg" />
    </footer>
  </body>
</html>